<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/myStudyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <!-- 댓글 목록 확인 시에는 댓글 내용이 제목 대신 -->
                <th style="width : 40%">스터디명</th>
                <th style="width : 20%">스터디장</th>
                <!-- 댓글 목록 확인 시에는 삭제되는 요소 -->
                <th style="width : 20%">인원</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="study : ${myStudyDtos}">
                <td th:text="${study.name}" style="cursor: pointer" th:onclick="|javascript:findStudy(${myDto.id}, ${study.ownerId}, ${study.id})|"></td>
                <script type="text/javascript">
                    function findStudy(myId, ownerId, id) {
                        if (myId== ownerId) {
                            window.open('/myStudy/' + id, 'STUDY INFORMATION', 'scrollbars=no, width=300, height=300, status=no, resizable=no');
                        } else {
                            window.open('/study/' + id, 'STUDY INFORMATION', 'scrollbars=no, width=300, height=300, status=no, resizable=no');
                        }
                    }
                </script>
                <td th:text="${study.ownerName}"></td>
                <td th:text="${study.memberNumber}"></td>
                <td th:if="!${study.start} and !${study.progress}">모집 중</td>
                <td th:if="!${study.progress} and ${study.start}">진행 중</td>
                <td th:if="${study.progress} and ${study.start}">완료</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>