<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<style>
    .textForm {
        height: 400px;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div th:object="${boardDto}">
        <div class="pt-3">
            <h3 th:text="*{title}"></h3>
        </div>

        <hr>
        <div>
            <span style="font-size: 1.1rem; cursor: pointer;" th:text="*{userDto?.email}" th:onclick="|javascript:userInformation(*{userDto?.id})|"></span>
        </div>
        <div>
            <span style="font-size: 1.1rem;" th:text="*{writeTime}"></span>
        </div>
        <div>
            <span th:if="!*{progress}" class="btn btn-outline-primary">모집 중</span>
        </div>
        <div>
            <span th:if="*{progress}" class="btn btn-primary">모집완료</span>
        </div>
        <div class="pt-3">
            <div class="form-control textForm" th:text="*{content}"></div>
        </div>
    </div>
    <div style="text-align: center">
        <div th:if="${boardDto.userDto?.id} == ${userDto.id} and !${boardDto.progress}" style="display: inline-block" class="pt-2">
            <form>
                <input type="submit" name="모집완료" value="모집완료" class="w-100 btn btn-outline-info">
            </form>
        </div>
        <div style="display: inline-block" class="pt-2">
            <a th:href="@{/}" class="w-100 btn btn-outline-secondary">목록</a>
        </div>
    </div>
    <hr>

    <div class="pt-2">
        댓글(<span th:text="${boardDto.commentNumbers}"></span>)
    </div>

    <hr>

    <table class="pt-2 table table-striped">
        <thead>
        <tr>
            <th style="width: 25%">작성자</th>
            <th style="width: 50%">내용</th>
            <th style="width: 25%">작성일자</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="comment : ${boardDto.commentDtos}">
            <td th:text="${comment.userDto?.email}" style="cursor: pointer;" th:onClick="|javascript:forStudyInformation(${boardDto.userDto?.id}, ${comment.boardId}, ${comment.userDto?.id})|"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.writeTime}"></td>
        </tr>
        </tbody>
    </table>

    <form th:if="!${boardDto.progress}" role="form" th:action th:object="${commentForm}" method="post">
        <div class="row">
            <div class="col-3" th:text="${userDto.email}"></div>
            <div class="col-5">
                <input type="text" th:field="*{content}" class="form-control" th:errorclass="field-error" placeholder="댓글">
                <div class="field-error" th:errors="*{content}">댓글 내용없음</div>
            </div>
            <div class="col-1">
                <button type="submit" class="w-100 btn-outline-dark btn">작성</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function forStudyInformation(writerId, boardId, userId) {
        if (writerId == userId) {
            window.open('/userInfo/forStudy/' + boardId + '/' + userId, 'USER INFORMATION', 'scrollbars=no, width=300, height=300, status=no, resizable=no');
        } else {
            userInformation(userId);
        }
    }

    function userInformation(commenterId) {
        window.open('/userInfo/' + commenterId, 'USER INFORMATION', 'scrollbars=no, width=300, height=300, status=no, resizable=no');
    }
</script>
</body>
</html>