<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .textForm {
        height: 400px;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" th:action th:object="${boardForm}" method="post">

        <div class="form-group">
            <label class="text-white" for="keyword">키워드</label>
            <input type="text" class="form-control" id="key-word" th:field="*{keyword}" placeholder="해시태그"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{keyword}">제목 없음</div>
        </div>

        <div class="form-group py-3">
            <label class="text-white" for="title">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="제목"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{title}">제목 없음</div>
        </div>

        <div class="form-group pt-3">
            <label class="text-white" for="content">내용</label>
            <textarea class="form-control textForm" id="content" th:field="*{content}" placeholder="내용을 입력해주세요."
                      th:errorclass="field-error"></textarea>
            <div class="field-error" th:errors="*{content}">내용 없음</div>
        </div>

        <script src="https://unpkg.com/@yaireo/tagify"></script>
        <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
        <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

        <script>
            var input = document.querySelector('input')
            var tagify = new Tagify(input);

            // 태그가 추가되면 이벤트 발생
            tagify.on('add', function() {
                console.log(tagify.value); // 입력된 태그 정보 객체
            })
        </script>

        <div class="row justify-content-center my-5 py-5">
            <div class="col-3">
                <button type="submit" class="w-100 btn btn-primary btn-lg">작성</button>
            </div>
            <div class="col-3">
                <a th:href="@{/}" class="w-100 btn btn-secondary btn-lg">목록</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>