<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<style>
    .textForm {
        height: 400px;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div th:object="${boardDto}">
        <div class="pt-3">
            <h3 th:text="*{title}"></h3>
        </div>

        <hr>
        <div th:text="*{userDto?.email}"></div>
        <div th:text="${writeTime}"></div>

        <div class="pt-3">
            <div class="form-control textForm" th:text="*{content}"></div>
        </div>

        <div style="text-align: center">
            <div style="display: inline-block">
                <a th:href="@{/boards?page=1}" class="w-100 btn btn-secondary">목록</a>
            </div>
        </div>
        <hr>
    </div>

    <div class="pt-2">
        댓글(<span th:text="${boardDto.commentNumbers}"></span>)
    </div>

    <hr>

    <table class="pt-2 table table-striped">
        <thead>
        <tr>
            <th style="width: 25%">작성자</th>
            <th style="width: 50%">내용</th>
            <th style="width: 25%">작성일자</th>
        </tr>
        </thead>
        <tbody>
        <!-- REFORMAT!!!! -->

        <tr th:each="comment : ${replyBoardForm.replyList}">
            <td th:text="${comment.userDto?.email}"></td>
            <td th:text="${reply.replyText}"></td>
            <td th:text="${#temporals.format(reply.writeTime, 'yy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <form role="form" th:action th:object="${replyForm}" method="post">
        <div class="row">
            <div class="col-3" sec:authentication="principal.nickname"></div>
            <div class="col-5">
                <input type="text" th:field="*{content}" class="form-control" th:errorclass="field-error" placeholder="댓글">
                <div class="field-error" th:errors="*{content}">댓글 내용없음</div>
            </div>
            <div class="col-1"></div>
            <div class="col-1">
                <button type="submit" class="w-100 btn-outline-dark btn">작성</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>